# One sample T test

In [17]:
import numpy as np
from scipy import stats

In [18]:
sample = [172, 174, 168, 169, 171, 173, 175, 170, 169, 172]

sample_mean = np.mean(sample)
sample_std = np.std(sample, ddof = 1)   # degree of freedome for t-test is always 1
n = len(sample)
population_mean = 170

In [19]:
t_stats = (sample_mean - population_mean) / (sample_std / np.sqrt(n))
t_stats

1.7782469350914734

In [21]:
p_value = 2 * (1 - stats.t.cdf(abs(t_stats) , df = n-1))
p_value

0.10907771593031335

In [22]:
alpha = 0.05

if p_value < alpha:
    print("Reject Null")
else:
    print("Accept Null")

Accept Null

# Two Sample T-Test

In [23]:
group_A = [85, 88, 90, 92, 87, 85, 89, 91, 86, 88]
group_B = [82, 84, 80, 83, 81, 79, 78, 85, 84, 83]

Null Hypothesis (H0): There is no difference in both the samples

Alternate Hypothesis (H1) : There is difference in both the samples

In [25]:
t_stats, p_value = stats.ttest_ind(group_A, group_B, equal_var=False )

In [28]:
alpha = 0.05

if p_value < alpha:
    print("Reject Null")
else:
    print("Accept Null")

Reject Null