# Reshape with Pivot

Pivot :
- it reverses melt - turns long data to wide
- helps organize data for reports, viewing, modeling
- used when 
1. have long format table with id col, var col, val col
2. want to spread unique vals in var col into separate cols

```df.pivot(index='row_identifier', columns='column_to_spread', values='values_to_fill')```

In [1]:
import pandas as pd

df_long = pd.DataFrame({
    'Name': ['Alice', 'Alice', 'Alice', 'Bob', 'Bob', 'Bob'],
    'Subject': ['Math', 'Science', 'English', 'Math', 'Science', 'English'],
    'Score': [85, 90, 88, 78, 82, 80]
})

df_long

    Name  Subject  Score
0  Alice     Math     85
1  Alice  Science     90
2  Alice  English     88
3    Bob     Math     78
4    Bob  Science     82
5    Bob  English     80

In [ ]:
# pivot to reshape back to wide

df_wide = df_long.pivot(
    index='Name',
    columns='Subject',
    values='Score'
)
df_wide

# name -> row index, subject unique vals become col, score fills table

Subject  English  Math  Science
Name
Alice         88    85       90
Bob           80    78       82

In [20]:
df_long = pd.DataFrame({
    'Name': ['Alice', 'Alice', 'Bob', 'Bob'],
    'Class': ['10th', '10th', '10th', '10th'],
    'Subject': ['Math', 'Science', 'Math', 'Science'],
    'Score': [85, 90, 78, 82]
})

df_wide

Subject   Name  English  Math  Science
0        Alice       88    85       90
1          Bob       80    78       82

In [21]:
# Multiple identifiers (index columns)

df_wide = df_long.pivot(index=['Name', 'Class'], columns='Subject', values='Score')
df_wide

Subject      Math  Science
Name  Class
Alice 10th     85       90
Bob   10th     78       82

- pivot needs the combo of index + col to be unique
- if dupes, error
- if data has dupes, use pivot_table with aggregation

| Task                    | Method                   |
| ----------------------- | ------------------------ |
| Reshape long â†’ wide     | `df.pivot()`             |
| Row identifier          | `index='col'`            |
| Columns to spread       | `columns='col'`          |
| Values to fill          | `values='col'`           |
| Multiple identifiers    | `index=['col1', 'col2']` |
| Reset index for clarity | `.reset_index()`         |