# Time series data
- data collected over time(daily, monthly, yearly)
- e.g. stock prices per day, temp
- time series allow tracking trends, seasonal analysis, time based grouping

## Parsing dates while reading csv
- dates are read as strings

In [2]:
import pandas as pd

# Create CSV-like data
data = """Date,Temperature
2025-07-01,32
2025-07-02,34
2025-07-03,33"""

with open("temp.csv", "w") as f:
    f.write(data)

In [3]:
df = pd.read_csv('temp.csv', parse_dates=['Date'])
df
# auto converts Date to datetime64 type

        Date  Temperature
0 2025-07-01           32
1 2025-07-02           34
2 2025-07-03           33

## Converting cols to Datetime
- so that we can sort by date
- perform date filter
- use datetime attr like dt.year

In [4]:
df['Date'] = pd.to_datetime(df['Date'])
df.dtypes

Date           datetime64[ns]
Temperature             int64
dtype: object

In [5]:
# set datetime as index

df.set_index('Date', inplace=True)
df

            Temperature
Date
2025-07-01           32
2025-07-02           34
2025-07-03           33

In [7]:
# resampling and time based grouping
# resample used for aagreagating data over period

monthly_avg = df.resample('ME').mean()
monthly_avg

            Temperature
Date
2025-07-31         33.0

'D' → Day

'W' → Week

'M' → Month

'Q' → Quarter

'Y' → Year

In [8]:
# get max temp each month

monthly_max = df.resample('ME').max()
monthly_max

            Temperature
Date
2025-07-31           34

In [10]:
# count of records per month

monthly_count = df.resample('ME').count()
monthly_count

            Temperature
Date
2025-07-31            3

In [11]:
# attributes extraction

df['Year'] = df.index.year
df['Month'] = df.index.month
df['Day'] = df.index.day
df

            Temperature  Year  Month  Day
Date
2025-07-01           32  2025      7    1
2025-07-02           34  2025      7    2
2025-07-03           33  2025      7    3

| Task                          | Method                              |
| ----------------------------- | ----------------------------------- |
| Parse dates while reading CSV | `parse_dates=['col']`               |
| Convert to datetime           | `pd.to_datetime()`                  |
| Set datetime index            | `df.set_index('col', inplace=True)` |
| Resample data                 | `df.resample('M').mean()`           |
| Date parts                    | `df.index.year`, `df.index.month`   |