# Time series data
- data collected over time(daily, monthly, yearly)
- e.g. stock prices per day, temp
- time series allow tracking trends, seasonal analysis, time based grouping

## Parsing dates while reading csv
- dates are read as strings

In [1]:
import pandas as pd

# Create CSV-like data
data = """Date,Temperature
2025-07-01,32
2025-07-02,34
2025-07-03,33"""

with open("temp.csv", "w") as f:
    f.write(data)

In [ ]:
df = pd.read_csv('temp.csv', parse_dates=['Date'])
df
# auto converts Date to datetime64 type

        Date  Temperature
0 2025-07-01           32
1 2025-07-02           34
2 2025-07-03           33

## Converting cols to Datetime
- so that we can sort by date
- perform date filter
- use datetime attr like dt.year

In [3]:
df['Date'] = pd.to_datetime(df['Date'])
df.dtypes

Date           datetime64[ns]
Temperature             int64
dtype: object

In [4]:
# set datetime as index

df.set_index('Date', inplace=True)
df

            Temperature
Date
2025-07-01           32
2025-07-02           34
2025-07-03           33

In [ ]:
# resampling and time based grouping

monthly_avg